#badges
{
position:fixed;
top:80px;
right:20px;
}
.progress
{
width:200px;
margin:5px;

}
#score
{
position:fixed;
right:5px;
}
.block
{
display:block;
}
.panel-body
{
background-color:#dff0d8;
height:150px;	
}
#update
{
position:fixed;
top:110px;
right:20px;
}